yarn.loc
.cpan/
node_modules/
.node_repl_history
.Xauthority
.bash_history
.bashrc
.cache/
.cloudflared/
.gitconfig
.local/
.npm/
.oh-my-zsh/
.pm2/
.profile
.python_history
.rpmdb/
.selected_editor
.shell.pre-oh-my-zsh
.ssh/
.tldr/
.vim/
.viminfo
.wget-hsts
.z
.zcompdump-dnsserver-5.8
.zcompdump-dnsserver-5.8.zwc
.zsh_history
AdGuardHome/
frp_0.44.0_linux_amd64/
go/
nginxweb/
smartdns/
.mysql_history
.zcompdump-debian11esxi-5.8
.zcompdump-debian11esxi-5.8.zwc

.config/htop
.config/neofetch
.config/lazygit
.config/nvim
.lesshst
.zcompdump-Debian12-K41-5.9
.zcompdump-Debian12-K41-5.9.zwc
lazygit
Dotfiles
config.yml
config.yml
nerd-fonts
.config/ranger/plugins/__pycache__/__init__.cpython-311.opt-1.pyc
